.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #fff;
    border: 2px solid #000;
    padding: 25px;
}